<!DOCTYPE html>
<html lang="en">

<head>

  <%- include('./partials/head.ejs') %>

    <title>EcoEquip - Home</title>
    
</head>

<body>

  <%- include('./partials/header.ejs') %>

  <%- include('./partials/prodPrincipal.ejs') %>

  <%- include('./partials/categoria.ejs') %>

  <%- include('./partials/blog.ejs') %>

  <%- include('./partials/ofertas.ejs') %>

  <%- include('./partials/colecciones.ejs') %>

  <%- include('./partials/footer.ejs') %>

</body>

</html>