<!DOCTYPE html>
<html lang="en">
    <head>
        <%- include('./partials/head.ejs') %>

        <title>EcoEquip - Detalle de Producto</title>
    </head>

    <body>
        <%- include('./partials/header.ejs') %>

        <h1 class="h1">Detalle de Producto</h1>
        <section class="perfil">
            <div class="bloqueImagen">
                <div>
                    <img class="avatar" src="/img/productos/<%=producto.imagen_01%>" />
                    <img class="avatar" src="/img/productos/<%=producto.imagen_02%>" />
                    <img class="avatar" src="/img/productos/<%=producto.imagen_03%>" />
                </div>
                <a href="/productoEdit/<%=producto.id%>">Cambiar Imagenes</a>
            </div>
            <div class="bloqueDatos">
                <p>Nombre de Producto: <%= producto.nombre %></p>
                <p>Precio del Producto: $ <%= producto.precio %></p>
                <p>Modelo del Producto: <%= producto.modelo %></p>
                <p>Descripción del Producto: <%= producto.descripcion %></p>
                <p>Categoría del Producto: <%= producto.categoria %></p>
                <a href="/productosEdit/<%= producto.id %>">Editar Producto</a>
            </div>
            <div class="bloqueImagen">
                <div>
                    <img class="avatar" src="/img/productos/<%=producto.imagen_01%>" />
                    <img class="avatar" src="/img/productos/<%=producto.imagen_02%>" />
                    <img class="avatar" src="/img/productos/<%=producto.imagen_03%>" />
                </div>
            </div>

        </section>

        <%- include('./partials/footer.ejs') %>
    </body>
</html>
