<!DOCTYPE html>
<html lang="en">
  <head>
    <%- include('./partials/head.ejs') %>

    <title>EcoEquip - Productos</title>
  </head>

  <body>
    <%- include('./partials/header.ejs') %>
    <div  class="table">
        <h2>Nuestros Productos</h2>        
          <br> 
          <div class="container"> 
            <% listaProductos.forEach(function(producto) { %>
              <article class="product">
                <div class="panel-text">
                  <h2 class="nombre-prod"><%= producto.name%></h2> 
                  <h2 class="precio"><%= producto.price%></h2> 
                </div>        
                <div class="panel-img">
                    <img class="imgPrincipal" src="<%= producto.image%>" alt="taza térmica negra" />                
                </div> 
              </article>           
            <% }); %> 
          </div> 
    </div>
    <%- include('./partials/footer.ejs') %>
  </body>
</html>