<!DOCTYPE html>
<html lang="en">
    <head>
        <%- include('./partials/head.ejs') %>
        <link rel="stylesheet" href="/css/styleproductDetail.css" />

        <title>EcoEquip - Detalle de Producto</title>
    </head>

    <body>
        <%- include('./partials/header.ejs') %>

        <h1 class="h1">Detalle de Producto</h1>
        <section class="productosDetail">

            <div class="bloqueDatosDetail">
                <p>Nombre de Producto: <%= producto.nombre %></p>
                <p>Precio del Producto: $ <%= producto.precio %></p>
                <p>Modelo del Producto: <%= producto.modelo %></p>
                <p>Descripción del Producto: <%= producto.descripcion %></p>
                <p>Categoría del Producto: <%= producto.categoria.tipo %></p>
            </div>
            <div class="bloqueImagenDetail">
                <div>
                    <img class="preview" src="/img/productos/<%=producto.imagen_01%>" />
                <!--    <img class="preview" src="/img/productos/<%=producto.imagen_02%>" />
                    <img class="preview" src="/img/productos/<%=producto.imagen_03%>" />-->
                </div>
                <a href="/productosEdit/<%=producto.id%>">Cambiar Imagenes</a>
            </div>
            <a class="botonEdit" href="/productosEdit/<%= producto.id %> onclick="validarFormulario()">Editar Producto</a>
        </section>

        <%- include('./partials/footer.ejs') %>

        <script>
            function validarFormulario() {
              var nombre = document.getElementById("nombre").value;
        
              if (nombre.length < 5) {
                alert("El nombre debe tener al menos 5 caracteres");
                return;
              }
        
              document.getElementById("miFormulario").submit();
            }
          </script>
    </body>
</html>
