<!DOCTYPE html>
<html lang="en">
  <head>
    <%- include('./partials/head.ejs') %>
    <link rel="stylesheet" href="/css/styleProductList.css" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css">
    <title>EcoEquip - Productos</title>
  </head>
  <body>
    <%- include('./partials/header.ejs') %>
    <div  class="table">
      <div class="encabezadoLista">

        <h2 class="h2-lista">Lista de Productos</h2>

        <% if (locals.usuarioLogueado.roles_id === 1) { %> 
          <a class="botonCrear" href="/productosCreate" ><h3>Crear Producto</h3></a>
        <% } %>
          
      </div>
      
        <thead>
          </thead>
          <br>
          <tbody>
            <section class="userList">
              <% productos.forEach(function(producto) { %>
                <div class="userProfile" >
                  <ul><hr class="rounded">

                    <li class="userTitle"><th>Nombre de Producto: </th></li>
                    <li class="userInfo"><td><%= producto.nombre %></td></li>
                    <li class="userTitle"><th>Modelo: </th></li>
                    <li class="userInfo"><td><%= producto.modelo %></td></li>
                    <li class="userTitle"><th>Descripción: </th></li>
                    <li class="userInfo"><td><%= producto.descripcion %></td></li>
                    <li class="userTitle"><th>Stock: </th>   </li>
                    <li class="userInfo"><td><%= producto.stock %></td></li>
                    <li class="userTitle"><th>Categoría: </th>   </li>
                    <li class="userInfo"><td><%= producto.categorias_id %></td></li>

                    <li class="userTitle"><th>Producto listado: </th></li>
                    <% if (producto.deleted_at == null) { %>
                      <li class="userInfo"><td>Disponible</td></li><br>
                    <% } else { %>
                      <li class="userInfo"><td>Eliminado: <%= producto.deleted_at %></td></li><br>
                    <% } %>
                    <li class="userTitle"><th>Foto de Producto: </th></li>
                    <li class="userInfo"><td><a href="/productosDetail/<% producto.id%>"></a><img class="UserImg" src="/img/productos/<%=producto.imagen_01%>" /></td></li>
                    <!--<li class="userInfo"><td><a href="/productosDetail/<% producto.id%>"></a><img class="UserImg" src="/img/productos/<%=producto.imagen_02%>" /></td></li>
                    <li class="userInfo"><td><a href="/productosDetail/<% producto.id%>"></a><img class="UserImg" src="/img/productos/<%=producto.stock%>" /></td></li>-->
                    <a class="btn-content" href="/productosDetail/<%= producto.id %>">
                      <i class="fas fa-eye"></i> VER DETALLE
                  </a>
                 </div> 
                </tr><br>
              <% }); %>
          </section>
          </tbody>
        </table>
    </div>
    <%- include('./partials/footer.ejs') %>
  </body>
</html>