<!DOCTYPE html>
<html lang="en">

<head>
    <%- include('./partials/head.ejs') %>
        <link rel="stylesheet" href="/css/styleproductDetail.css" />

        <title>EcoEquip - Editar Producto</title>
</head>

<body>
    <%- include('./partials/header.ejs') %>

        <h1 class="h1">Editar Producto</h1>
        <section class="productDetail>">
            <div class="bloqueDatosDetail">
                <form class="form" action="/productosEdit/<%= producto.id %>?_method=put" method="POST"
                    enctype="multipart/form-data">
                    <p>Nombre del Producto: </p>
                    <input type="text" id="nombre" name="nombre" value=<%=producto.nombre %>>
                    <p>Precio: </p>
                    <input type="text" id="precio" name="precio" value=<%=producto.precio %>>
                    <p>Modelo: </p>
                    <input type="text" id="modelo" name="modelo" value=<%=producto.modelo %>>
                    <p>Descripción del Producto: </p>
                    <input type="text" id="descripcion" name="descripcion" value=<%=producto.descripcion %>><br>
                    <select type="select" class="categoria_id" name="categoria_id" id="categoria_id">
                        <option value disabled selected>Seleccionar Categoría</option>
                        <% categorias.forEach(categorias=> { %>
                            <option value="<%= categorias.id%>">
                                <%= categorias.tipo %>
                            </option>
                            <% }); %>
                    </select>
                    <div>
                        <img class="avatar" src="../../public/img/productos/<%=producto.imagen_01%>" />
                    </div>
                    <input type="file" id="imagen_01" name="imagen_01" accept="image/" multiple><br><!--
                    <div>
                        <img class="avatar" src="../../public/img/productos/<%=producto.imagen_02%>" />
                    </div>
                    <input type="file" id="imagen_02" name="imagen_02" accept="image/" multiple><br>
                    <div>
                        <img class="avatar" src="../../public/img/productos/<%=producto.imagen_03%>" />
                    </div>
                    <input type="file" id="imagen_03" name="imagen_03" accept="image/" multiple><br><br>-->
                    <button class="botonEdit2" type="submit">Guardar cambios en Producto</button>

                </form>
                <% if(producto.deleted_at==false){%>
                    <form action="/productoDelete/<%= producto.id%>?_method=delete" method="post">
                        <div class="signinForm">
                            <button class="botonEdit2" type="submit">Eliminar Producto</button>
                        </div>
                    </form>
                    <% }else{ %>
                        <form action="/recuperarProducto/<%= producto.id%>?_method=put" method="post">
                            <button class="botonEdit2" type="submit">Recuperar Producto</button>
                        </form>
                        <% } %>
            </div>

            </div>

        </section>

        <%- include('./partials/footer.ejs') %>
</body>

</html>