<!DOCTYPE html>
<html lang="en">
  <head>
    <%- include('./partials/head.ejs') %>

    <title>EcoEquip - Perfil</title>
  </head>

  <body>
    <%- include('./partials/header.ejs') %>

    <h1 class="h1">Mi perfil</h1>
    <section class="perfil">
        <div class="bloqueImagen">
            <div>                
                <img class="avatar" src="/img/avatars/<%=usuario.archivo%>" alt="imagenPerfil" />  
            </div>
            <a href="/profileEdit/<%=usuario.id%>">Cambiar foto de perfil</a>
        </div>
        <div class="bloqueDatos">
            <p>Nombre de usuario: <%= usuario.nombre_usuario %></p>
            <p>Nombre: <%= usuario.nombres %></p>
            <p>Apellido: <%= usuario.apellido %></p>
            <p>Correo electrónico: <%= usuario.email %></p>
            <p>Dirección: <%= usuario.direccion %></p>
            <p>Ciudad: <%= usuario.ciudad %></p>
            <p>Teléfono: <%= usuario.telefono %></p>
            <p>Rol: <%= usuario.roles_id %></p> 
            <a href="/profileEdit/<%= usuario.id %>">Editar perfil</a> 
        </div>
        
    </section>

    
    

    <%- include('./partials/footer.ejs') %>
  </body>
</html>
