<!DOCTYPE html>
<html lang="en">
  <head>
    <%- include('./partials/head.ejs') %>

    <title>EcoEquip - EditarPerfil</title>
  </head>

  <body>
    <%- include('./partials/header.ejs') %>

    <h1 class="h1">Editar perfil</h1>
    <section class="perfil">
        <div class="bloqueImagen">
            <div>
                <!-- <img class="avatar" src="/img/<%=usuario.avatar%>" alt="imagenPerfil" /> -->
                <img class="avatar" src="/img/avatars/<%=usuario.avatar%>" alt="imagenPerfil" />  
            </div>
        </div>
        <div class="bloqueDatos">
            <form action="/profileEdit/<%= usuario.id %>?_method=put" method="POST" enctype="multipart/form-data">  
                <p>Nombre de usuario: </p>
                <input type="text" id="userName" name="userName" value=<%= usuario.userName %>>
                <p>Nombre: </p>
                <input type="text" id="firstName" name="firstName" value=<%= usuario.firstName %>>
                <p>Apellido: </p>
                <input type="text" id="lastName" name="lastName" value=<%= usuario.lastName %>>
                <p>Correo electrónico: </p>
                <input type="email" id="email" name="email" value=<%= usuario.email %>>
                <p>Dirección: </p>
                <input type="text" id="adress" name="adress" value=<%= usuario.adress %>>
                <p>Ciudad: </p>
                <input type="text" id="city" name="city" value=<%= usuario.city %>>
                <p>Teléfono: </p>
                <input type="text" id="telephone" name="telephone" value=<%= usuario.telephone %>>
                <p>Rol: </p> 
                <select class='selector' id="role" name="role" required>
                    <option value="" disabled selected><%= usuario.role %></option>
                    <option value="Administrador" name="admin">Administrador</option>
                    <option value="Usuario" name="usuario">Usuario</option>
                <input type="file" id="avatar" name="avatar" accept="image/" multiple required><br><br>
                <button type="submit">Guardar cambios</button>

            </form>
            <form action="/userDelete/<%= usuario.id%>?_method=delete" method="post">
                <div class="signinForm">
                    <button type="submit" >Eliminar Usuario</button>
                </div>
            </form> 
           
        </div>
        
    </section>

    
    

    <%- include('./partials/footer.ejs') %>
  </body>
</html>
