<!DOCTYPE html>
<html lang="en">
  <head>
    <%- include('./partials/head.ejs') %>

    <title>EcoEquip - Perfil</title>
  </head>

  <body>
    <%- include('./partials/header.ejs') %>

    <h1 class="h1">Mi perfil</h1>
    <section class="perfil">
        <div class="bloqueImagen">
            <div>                
                <img class="avatarProfile" src="/img/avatars/<%=locals.usuarioLogueado.imagen_perfil%>" alt="imagenPerfil" />  
            </div>
            <a href="/profileEdit">Cambiar foto de perfil</a>
        </div>
        <div class="bloqueDatos">
            <p>Nombre de usuario: <b><%= usuario.nombre_usuario %></b></p>
            <p>Nombre: <b><%= usuario.nombres %></b></p>
            <p>Apellido: <b><%= usuario.apellido %></b></p>
            <p>Correo electrónico: <b><%= usuario.email %></b></p>
            <p>Dirección: <b><%= usuario.direccion %></b></p>
            <p>Ciudad: <b><%= usuario.ciudad %></b></p>
            <p>Teléfono: <b><%= usuario.telefono %></b></p>
            <p>Rol: <b><%= usuario.roles_id %></b></p> 
            <a href="/profileEdit">Editar perfil</a> 
        </div>
        
    </section>

    
    

    <%- include('./partials/footer.ejs') %>
  </body>
</html>
