<!DOCTYPE html>
<html lang="en">
  <head>
    <%- include('./partials/head.ejs') %>

    <title>EcoEquip - EditarPerfil</title>
  </head>

  <body>
    <%- include('./partials/header.ejs') %>

    <h1 class="h1">Editar perfil</h1>
    <section class="perfil">
        
        <div class="bloqueDatos">
            <form action="/profileEdit/<%=usuario.id%>?_method=put" method="POST" enctype="multipart/form-data">                  
                <div class="bloqueImagen">                
                    <img class="avatar" src="/img/avatars/<%=usuario.imagen_perfil%>" alt="imagenPerfil" />
                </div>
                <p>Nombre de usuario: </p>
                <input type="text" id="userName" name="nombre_usuario" value=<%= usuario.nombre_usuario %>>
                <p>Nombre: </p>
                <input type="text" id="firstName" name="nombres" value=<%= usuario.nombres %>>
                <p>Apellido: </p>
                <input type="text" id="lastName" name="apellido" value=<%= usuario.apellido %>>
                <p>Correo electrónico: </p>
                <input type="email" id="email" name="email" value=<%= usuario.email %>>
                <p>Dirección: </p>
                <input type="text" id="adress" name="direccion" value=<%= usuario.direccion %>>
                <select type="select" class="ciudad_id" name="ciudad_id" id="ciudad_id" >
                    <option value="" disabled selected>- Seleccione la ciudad - </option>
                    <% ciudad.forEach(ciudad => { %>
                    <option value="<%= ciudad.id%>"><%= ciudad.nombre_ciudad%></option>
                    <% }); %>
                </select>                       
                <p>Teléfono: </p>
                <input type="text" id="telephone" name="telefono" value=<%= usuario.telefono %>>
                <p>Rol: </p> 
                <select class='selector' id="role" name="roles_id" required>
                    <% rol.forEach(rol => { %>
                    <option value="<%= rol.id%>"><%= rol.nombre %></option>
                    <!-- <option value="Administrador" name="admin">Administrador</option>
                    <option value="Usuario" name="usuario">Usuario</option> -->
                    <% }); %>
                <input type="file" id="imagen_perfil" name="imagen_perfil" accept="image/" multiple><br><br>
                <button type="submit">Guardar cambios</button>

            </form>
            <% if(usuario.borrado_el != null){%>
            <form action="/userDelete/<%= usuario.id%>?_method=delete" method="post">
                <div class="signinForm">
                    <button type="submit" >Recuperar usuario</button>
                </div>
            </form> 
            <% }else{ %>
            <form action="/userRetrieve/<%= usuario.id%>?_method=put" method="post">
                <button type="submit" >Eliminar usuario</button>
            </form>                        
            <% } %>
        </div>
        
    </section>

    
    

    <%- include('./partials/footer.ejs') %>
  </body>
</html>
