<!DOCTYPE html>
<html lang="en">
  <head>
    <%- include('./partials/head.ejs') %>

    <title>EcoEquip - Usuarios</title>
  </head>

  <body>
    <%- include('./partials/header.ejs') %>
    <div  class="table">
        <h2>Lista de Usuarios</h2>
        <thead>
          </thead>
          <br>
          <tbody>
            <section class="userList">
              <% usuarios.forEach(function(user) { %>
                <div class="userProfile" >
                  <ul><hr class="rounded">
                    <li class="userTitle"><th>Foto de Perfil: </th></li>
                    <li class="userInfo"><td><a href="/profile/<% user.id%>"></a><img class="UserImg" src="/img/avatars/<%=user.imagen_perfil%>" /></td></li>
                    <li class="userTitle"><th>Nombre de Usuario: </th></li>
                    <li class="userInfo"><td><%= user.nombre_usuario %></td></li>
                    <li class="userTitle"><th>Nombre: </th></li>
                    <li class="userInfo"><td><%= user.nombres %></td></li>
                    <li class="userTitle"><th>Apellido: </th></li>
                    <li class="userInfo"><td><%= user.apellido %></td></li>
                    <li class="userTitle"><th>Correo Electrónico: </th></li>
                    <li class="userInfo"><td><%= user.email %></td></li>
                    <li class="userTitle"><th>Rol: </th>   </li>
                    <li class="userInfo"><td><%= user.roles_id %></td></li>
                    <!--<li class="userTitle"><th>Borrado?: </th></li>
                    <li class="userInfo"><td><%= user.borrado_el %></td></li> -->
                    <a class="btn-content" href="/profile/<% user.id%>">
                      <i class="fas fa-eye"></i> VER PERFIL
                  </a>
                  </ul>
                 </div> 
                </tr><br>
              <% }); %>
          </section>
          </tbody>
        </table>
    </div>
    
    
    

    <%- include('./partials/footer.ejs') %>
  </body>
</html>
